body{
    
    background-color:#FFFFFF;
    font-family: "Libre Baskerville", serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1/2fr 1fr 1/2fr ;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    row-gap: 16px;
    margin: 0px;
    padding: 0px;
    
    

}

header{
    margin: 8px;
    grid-area: header;
    
}

nav{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    
    
}

.fbutton{
    background-color: #F3D3BD;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.2);
    font-family: "Libre Baskerville", serif;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), 3px 3px 10px rgba(0, 0, 0, 0.3);
    
}
#logo{
    display: flex;
    column-gap: 8px;
    align-items: center;
    margin-left: 40px;
}
#snav{
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
}
.navbutton{
    
    
    background-color:#FFFFFF ;
    border: none;
    font-family: "Libre Baskerville", serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
   
    


#logoimg{
    grid-area: img;
    height: 60px;
    float:left;
}

hr{
    color:#7A7A7A;
    width: 100%;
}


main{
    
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1/3fr 1fr ;
    grid-template-areas: 
    'section section section'
    'aside aside aside';
    row-gap: 24px;
    
    
    
}

section{
    grid-area: section;
    display: flex;
    flex-flow: column;
    
}
#fp{

    font-size: 64px;
    font-weight: 400;
    margin-left: 50px;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5), 
        4px 4px 8px rgba(0, 0, 0, 0.3); 
   
}
#sp{

    font-size: 48px;
    font-weight: 400;
    margin-left: 100px;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5), 
        4px 4px 8px rgba(0, 0, 0, 0.3); 
   
}
#thp{

    font-size: 24px;
    font-weight: 400;
    margin-left: 150px;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5), 
        4px 4px 8px rgba(0, 0, 0, 0.3); 
   
 
}



aside{
    display: block;
    grid-area: aside;
    border-radius:30px;
    align-self: center;
    justify-self: center;
    
}






footer{
    
    
    grid-area: footer;
    display: flex;
    justify-content: center;
}



.cat{
    border-radius: 10px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 20px;
   

}

footer p{

    font-weight: 300;
    font-style: italic;
    color: #7A7A7A;
    
}

@media only screen and (max-width: 720px) {
    
    
    nav{
        grid-area: nav;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-items: center;
        flex-wrap: wrap;
        row-gap: 16px;
        align-self: center;
        justify-self: center;
        
       
        
    }
    #logo{
        display: flex;
        column-gap: 8px;
        align-items: center;
        
    }

    #fp{

        font-size: 48px;
        font-weight: 400;
        margin-left: 50px;
        text-shadow: 
            2px 2px 4px rgba(0, 0, 0, 0.5), 
            4px 4px 8px rgba(0, 0, 0, 0.3); 
       
    }
    #sp{
    
        font-size: 24px;
        font-weight: 400;
        margin-left: 50px;
        text-shadow: 
            2px 2px 4px rgba(0, 0, 0, 0.5), 
            4px 4px 8px rgba(0, 0, 0, 0.3); 
       
    }
    #thp{
    
        font-size: 16px;
        font-weight: 400;
        margin-left: 50px;
        text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5), 
        4px 4px 8px rgba(0, 0, 0, 0.3); 
   
     
    }
    .cat{
        border-radius: 10px;
        width: 80%;
        padding: 20px;
    }
    
}

